extends ./layout/index 

block contenido
    main.container.mt-5 
        .row
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen Nosotros", class="img-fluid")
            .col-md-7
                h1 #{pagina}

                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut cursus enim. Nunc at lacus gravida, finibus ante at, ullamcorper neque. Donec varius sem lorem, a fringilla leo semper et. Sed bibendum felis non arcu feugiat lacinia. Donec arcu dui, pulvinar eu cursus vel, malesuada ac ipsum. Vivamus tristique, lacus eget iaculis dictum, nisi risus tristique purus, at malesuada sapien nisl in orci. Phasellus rhoncus tortor sem, et tincidunt risus venenatis ullamcorper. Pellentesque nisl nisl, placerat quis justo in, vestibulum sagittis arcu. Sed ullamcorper ac ex sit amet blandit. Vestibulum sit amet magna eu massa euismod condimentum. Vestibulum turpis ligula, ultricies nec commodo at, hendrerit ut arcu. 

                p Curabitur in risus laoreet ligula tempor interdum. Fusce sodales augue sodales nisi auctor dictum. Morbi maximus leo ac commodo dignissim. Nam nunc odio, fermentum vel augue ut, imperdiet dictum ex. Sed sit amet viverra mauris. Ut condimentum aliquet ornare.

                p Donec vulputate risus sit amet vulputate ultricies. Proin at purus velit. Integer luctus felis tortor, non laoreet dui tincidunt id. Donec efficitur venenatis massa, vel tempus lectus commodo at. 

    
    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="Icono Seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe iure, nostrum in fuga recusandae quod consequuntur ullam beatae dolorem possimus quidem non perspiciatis repellendus.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="Icono Destinos", class="img-fluid mb-4")
                    h2.mb-4 Mejores destinos 
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe iure, nostrum in fuga recusandae quod consequuntur ullam beatae dolorem possimus quidem non perspiciatis repellendus.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="Icono Mejores Precios", class="img-fluid mb-4")
                    h2.mb-4 Los mejores precios
                    p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Saepe iure, nostrum in fuga recusandae quod consequuntur ullam beatae dolorem possimus quidem non perspiciatis repellendus.